@use '@angular/material' as mat;
@import "tailwindcss";


@include mat.core();

.custom-theme {

  html {
    @include mat.theme( ( color: ( theme-type: light, primary: mat.$azure-palette, tertiary: mat.$blue-palette, ), density: 0, ) );
  }

  .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
    border-radius: var(--radius-md);
  }
}

:root {
  @include mat.paginator-overrides((  container-background-color: white, ));
}
.container {
 /* @apply mx-auto max-w-screen-5xl;*/
  max-width: auto;
  max-width: var(--container-1);
}

.text-primary{
    color: #7d00fa
}

button.match-input-height{
    height: var(--mat-form-field-container-height) !important;
}
/*
This css form Quantity outline manage */
.mdc-notched-outline__notch {
    border-right-style: none !important
}
