<header class="p-3 max-h-20 top-0 bg-white fixed z-50 w-full border-b shadow-md">
    <div class="mx-auto flex max-w-screen-2xl items-center justify-between align-middle">
        <img routerLink="/" src="../images/logo.png" alt="app logo" class="max-h-16" />
        <nav class="gap-3 my-2 flex text-2xl">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Home</a>
            <a routerLink="/shop" routerLinkActive="active">Shop</a>
            <a routerLink="/test-error" routerLinkActive="active">Errors</a>
        </nav>
        <div class="gap-3 flex align-middle">
            <a matBadge="5" matBadgeColor="accent" matBadgeSize="large" class="custom-badge mt-2 mr-2">
                <mat-icon>shopping_cart</mat-icon>
            </a>
            <button mat-stroked-button>Login</button>
            <button mat-stroked-button>Register</button>
        </div>
    </div>
</header>

@if(busyService.loading)
{
    <mat-progress-bar mode="indeterminate" class="top-20 fixed z-50"></mat-progress-bar>
}
